body {
    overflow: hidden;
    font-family: "SF UI Display", sans-serif;
    -webkit-tap-highlight-color: transparent;
}

body::-webkit-scrollbar {
    width: 9px;
}

body::-webkit-scrollbar-track {
    background-color: white;
}

body::-webkit-scrollbar-thumb {
    background-color: #323330;
    border-radius: 30px;
}

.div1 {
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

.div2 {
    width: 100%;
}

#textarea {
    width: 100%;
    height: 87vh;
    margin-top: 10px;
    resize: vertical;
    padding: 10px;
    position: absolute;
    left: 0;
}

#textarea.err {
    color: red;
}

#textarea.color_change {
    color: aqua;
}

button {
    width: 100px;
    height: 35px;
    background: limegreen;
    border-radius: 10px;
    border: none;
    color: white;
    cursor: pointer;
    transition: all 0.8s ease 0s;
}

button:hover {
    background: green;
}

a {
    margin-left: 10px;
    color: #afafaf;
    transition: all 0.8s ease 0s;
}

a:hover {
    color: #7e7e7e;
}
